/*CONFIG EXCLUSIVA PARA O BOTÃO MENU EM TELAS MENORES*/
#id-b-hamburguer {
    z-index: 2; /*Movendo o borão para frente da nav*/    
    border: 0;
    display: none;
    background: none;
    border-top: 3px solid #3D87C1; /*primeira barra do botão*/
    cursor: pointer; /*fazer com que aparece a mão quando o cursor ficar acima do botão*/
}

#id-b-hamburguer::before, 
#id-b-hamburguer::after{ /*Para adicionar duas barras no botão menu*/
    content: "";
    display: block;
    width: 35px;
    height: 4px;
    background: #3D87C1;
    margin-top: 5px;

    /*Para rotação do botão hambuerguer*/
    position: relative;
    transition: .3s;
}
/*****************************************************/