footer {
    background: #26333D;
    height: 870px;
}

footer > div {
    margin-top: 15px;
}

h2 {
    font-size: 19px;
}

    #id-img-logo-virtualbi { /*logo-virtualbi*/
        width: 100px;
        
    }

    #id-nav-footer {
        text-align: center;
        padding: 0;
    }

        #id-nav-footer li{
            text-align: center;
            list-style: none;
        }
            #id-nav-footer li > a{
                text-decoration: none;
            }
    
    #id-redes-sociais img { /*caixa geral redes sociais e titulo - mexendo as imagens*/
        width: 50px;
    }

        #id-redes-img { /*caixa geral de img - redes sociais*/
            height: 65px;
            width: 170px;
        }
            #id-redes-img div{ /*caixa geral de img - redes sociais*/
                height: 50px;
            }

                #id-redes-img div{
                    border: 1px solid #2dd6cb1a;
                }

        #id-redes-img div:hover{
            border: 1px solid #2dd6cb25;
            background: #2dd6cb0c;
            margin-bottom: 10px;
        }
    
    #id-empresas img {
        width: 170px;
    }
   
    #id-empresas img:hover {
        margin-left: 10px;
    }
   
        