header { /*Cabeçalho*/
    background-color: #25343F;
    height: 100px;
    padding-right: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;    
    }

    #id-categoria h5 {
        color: white;
        font-weight: bolder;
    }

    #id-categoria a {
        font-size: 25px;
        color: white;
        text-decoration: none;
    }

    nav a { /*navegodor - tag a*/
        margin: 0 15px;
    }

#id-livros-literarios { /*Sect livros literarios*/
    padding-top: 80px;
}
    .card-title {
        color: black;
    }

    .card-text {
        text-align: justify;
    }

#id-livros-literarios { /*Sect livros 
    literários*/
    padding-top: 80px;
    padding-left: 15px;
    padding-bottom: 50px;
}

#id-livros-cientificos .card-text, .card-title { /*Sect livros 
    cientificos*/
    color: white;
}

#id-livros-cientificos { /*Sect livros 
    cientificos*/
    padding-top: 80px;
    padding-bottom: 50px;
    padding-left: 15px;
    background-color: #25343ffe;
}

    	#id-livros-cientificos .card { /*(Sect) caixa livro*/
        padding-left: 20px;
        height: 300px;
        justify-content: center;
        margin: 10px;
        border: 1px solid rgba(39, 35, 35, 0.041);
        transition: .5s;
        background-color: #23313b;
        }

        #id-livros-cientificos .card:hover { /*(Sect) caixa livro - efeito*/
        box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.185);
        height: 350px;
        background-color: #131b2156;
        margin: 25px;
    }

#id-livros-religiosos { /*Sect livros 
    religiosos*/
    padding-top: 80px;
    padding-left: 15px;
    padding-bottom: 50px;
}

.card-title, .card-text {
    color: black;
}
