/*CONFIG GERAL HEADER*/
header { /*Header responsivo para todas as telas*/
    z-index: 1;
    padding-inline: 16px; /*espaçamento nas laterais do header*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#id-nav-header { /*navegador*/
    width: 100%;
    height: 70px;
    margin-inline: auto; /*espaçamento nas laterais do nav*/
    display: flex;
    justify-content: space-between; /*espaçamento entre os elementos do nav*/
    align-items: center; /*alinhamento vertical - centro*/
}

header img { /*logo virtualbi*/
    width: 120px;
}
/*----------------------------------*/
