header {  /*header*/
    background-color: #25343F;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 50px;
}

h1 {
    color: rgb(72, 206, 206);
    font-size: 1.5em;
}

a {
    line-height: 1.5em;
}

section {
    padding: 40px 0;
    display: flex;
    justify-content: center;
}

section div {
    width: 700px;
    padding: 10px;
    text-align: justify;
}

section p, section h2, section li {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 1.5em;
}

footer {
    height: 730px;
}

@media screen and (min-width: 750px) and (max-width:950px) {
    
    section div {
        width: 600px;
    }

    footer {
        height: 550px;
    }
}

@media screen and (min-width: 950px) {
    footer {
        height: 540px;
    }
}
